# Окружение
.venv/
env/
venv/

# Кэш Python
__pycache__/
*.pyc

# Токен бота, потом хранить в path
app/bot/token.py

# Файлы бд и (временные логи транзакций и индексации плагин DBcode)
*.db
*.db-shm
*.db-wal

# Системные файлы
.vscode/
.DS_Store