/* Убираем стандартные отступы браузера */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background: #f4f4f9;
}

/* Главный контейнер на весь экран */
.app-layout {
    display: flex;
    height: 100vh; /* 100% высоты экрана */
}

/* --- БОКОВОЕ МЕНЮ --- */
.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    /* Добавляем скругление */
    border-radius: 8px; 
    /* Если панель прижата к левому краю, 
       логичнее скруглить только правые углы: */
    overflow: hidden; /* Чтобы фон внутренней шапки не вылезал за скругление */
}

.sidebar-header {
    padding: 20px;
    background-color: #1a252f;
    text-align: center;
}

.sidebar-header h2 {
    margin: 0;
    font-size: 1.2em;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.nav-btn {
    background: none;
    border: none;
    color: #ecf0f1;
    padding: 15px 20px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.nav-btn:hover {
    background-color: #34495e;
}

.nav-btn.active {
    background-color: #007bff; /* Выделение активного раздела */
    color: white;
    font-weight: bold;
}

/* --- ОСНОВНАЯ ЧАСТЬ --- */
.main-content {
    flex-grow: 1; /* Занимает все оставшееся место */
    padding-left: 10px;
    overflow-y: auto; /* Прокрутка, если таблица длинная */
}

/* Скрываем все секции по умолчанию */
.content-section {
    display: none;
}

/* Показываем только активную */
.active-section {
    display: block;
}


/* Красная подсветка для малого количества */
.low-stock {
    color: #d9534f; /* Мягкий красный цвет */
    font-weight: 800;
    position: relative;
}

/* можно добавить иконку */
.low-stock::after {
    content: ' 👎';
    font-size: 0.9em;
}

/* таблицы имеют разные ID в HTML */
#inv-table, #editor-table {
    width: 100%;
    margin-bottom: 30px;
}


body { 
    font-family: sans-serif;
    background: #f4f4f9;
    padding: 20px; 
}
.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
h1 {
    display: block;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
th {
    background: #333;
    color: white;
}
.barcode-badge {
    background: #eee;
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 20px;
    font-size: 0.8em;
    font-weight: bold;
}
.qty-controls {
    display: inline-flex;
    align-items: center;
    gap: 8px; /* Расстояние между кнопками и числом */
}
.qty-value {
    min-width: 24px;
    text-align: center;
    font-weight: bold;
}
.qty-min-require{
    min-width: 24px;
    text-align: left;
    font-weight: bold;
}
.timedate_value{
    min-width: 24px;
    text-align: left;
}
.qty-btn {
    background-color: #333; 
    color: #ffffff; 
    border: 1px solid #161313;
    border-radius: 6px;
    width: 28px;
    height: 28px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s, border-color 0.2s;
}

.btn-dark:hover {
     /* Светлее при наведении */
    background-color: #40444b;
    border-color: #555;
}

.btn-dark:active {
    /* Темнее в момент самого клика */
    background-color: #1a1c1e; 
}

.search-container {
    margin-bottom: 25px;
    text-align: left; 
}

.search-box {
    padding: 8px 12px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-box:focus {
     /* Подсветка при клике */
    border-color: #007bff;
}