# HTTP трафик пускаем на бек на 8080 порт, только если путь - /scan
http://{$SITE_ADDRESS} {
    # Если путь совпадает с..
    @scan {
        path /scan /scan/*
    }
    # Отправляем в бэк 8080 порт
    handle @scan {
        reverse_proxy backend:8080
    }
    # Все остальное идет нафиг
    handle {
        abort
    }
}

# (Прокси-колдовство caddy с сертификатами)
# С HTTPS 443 перекидываем на бэк 8080 порт
https://{$SITE_ADDRESS} {
    # С https перекидываем всё на бэк 8080 порт
    reverse_proxy backend:8080
    tls internal
}